<html>

<head>
    <title>Tutorial 1: Getting Started</title>
</head>

<body>
    <div class = "map">
        <table class="subjects">
            <tr>
                <td><button>과목1</button></td>
                <td><button>과목2</button></td>
                <td><button>과목2</button></td>
                <td><button>과목4</button></td>
            </tr>
        </table>
        <iframe src="/map/6"></iframe>
    </div>

    <div>
        <h1>목차 <button>추가</button></h1>
        <table>
            <tr>
                <td>목차1</td>
                <td><button>추가</button></td> 
                <td><button>수정</button></td> 
                <td><button>삭제</button></td>
            </tr>
            <tr>
                <td>-></td>
                <td>단어1</td>
                <td><button>수정</button></td> 
                <td><button>삭제</button></td>
            </tr>
            <tr></tr>
            <tr>
                <td>목차2</td>
                <td><button>추가</button></td> 
                <td><button>수정</button></td> 
                <td><button>삭제</button></td>
            </tr>
            <tr>
                <td>-></td>
                <td>단어2</td>
                <td><button>수정</button></td> 
                <td><button>삭제</button></td>
            </tr>
            <tr></tr>
            <tr>
                <td>목차3</td>
                <td><button>추가</button></td> 
                <td><button>수정</button></td> 
                <td><button>삭제</button></td>
            </tr>
            <tr>
                <td>-></td>
                <td>단어3</td>
                <td><button>수정</button></td> 
                <td><button>삭제</button></td>
            </tr>
        </table>
    </div>
</body>
<style>
    iframe {
        width: 100%;
        height: 80%;
        top: 0px;
        left: 0px;
        float: right;
    }
    .map{
        width: 80%;
        float: right;
    }
    .subjects{
        float: right;
    }
</style>

</html>